
@font-face {
  font-family: 'Source Sans';
  src: url('fonts/source-sans-extra-light-italic.eot');
  src: url('fonts/source-sans-extra-light-italic.eot?#iefix') format('embedded-opentype'),
       url('fonts/source-sans-extra-light-italic.woff') format('woff'),
       url('fonts/source-sans-extra-light-italic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}