
:root {
  var-light-purple: #222;
  var-purple: #111;
  var-dark-purple: #000;
  var-black: #000;
}

body {
  font: 18px/1.4 "Source Sans", sans-serif;
  color: var(black);
  background: url(images/background.jpg) cover;
}

h1 {
  font-size: 3em;
  margin-bottom: .5em;
  text-shadow: 1px 1px var(dark-purple);
}

a {
  color: var(purple);
  text-decoration: none;
  transition: color 1s;
}

a:hover {
  color: var(dark-purple);
  text-decoration: underline;
}

.button {
  font-size: .8em;
  font-variant: all-small-caps;
}

::selection {
  background-color: var(light-purple);
  opacity: .5;
}