@font-face {
  font-family: 'Source Sans';
  src: url('source-sans-bold-italic.eot');
  src: url('source-sans-bold-italic.eot?#iefix') format('embedded-opentype'),
       url('source-sans-bold-italic.woff') format('woff'),
       url('source-sans-bold-italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
