
p {
  color: color(black tint(10%));
  background-color: color(#fffa alpha(100%));
}

@media (min-width: 10px) {
  p {
    color: color(black tint(10%));
    background-color: color(#fffa alpha(100%));
  }
}