
body {
  transition: -webkit-transform 1s;
  transition: transform 1s;
}

@-webkit-keyframes moving-gradient {
  0% {
    background-position: left bottom;
  }

  100% {
    background-position: right bottom;
  }
}

@keyframes moving-gradient {
  0% {
    background-position: left bottom;
  }

  100% {
    background-position: right bottom;
  }
}
