::-webkit-input-placeholder {
  color: #f00;
  width: 100px;
  -webkit-font-feature-settings: "c2sc";
  font-feature-settings: "c2sc";
  font-variant: small-caps;
  -webkit-transition: all 1s;
  transition: all 1s;
}

::-moz-placeholder {
  color: #f00;
  width: 100px;
  font-feature-settings: "c2sc";
  font-variant: small-caps;
  -webkit-transition: all 1s;
  transition: all 1s;
}

:-ms-input-placeholder {
  color: #f00;
  width: 100px;
  font-feature-settings: "c2sc";
  font-variant: small-caps;
  -webkit-transition: all 1s;
  transition: all 1s;
}

::placeholder {
  color: #f00;
  width: 100px;
  -webkit-font-feature-settings: "c2sc";
  font-feature-settings: "c2sc";
  font-variant: small-caps;
  -webkit-transition: all 1s;
  transition: all 1s;
}