
@font-face {
  font-family: 'Source Sans';
  src: url('fonts/source-sans-regular.eot');
  src: url('fonts/source-sans-regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/source-sans-regular.woff') format('woff'),
       url('fonts/source-sans-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}